/*** fontSize***/

.fs-12 {
    font-size: 1.2rem;
}

.fs-14 {
    font-size: 1.4rem;
}

.fs-16 {
    font-size: 1.6rem;
}

.fs-18 {
    font-size: 1.8rem;
}

.fs-20 {
    font-size: 2rem;
}

.fs-24 {
    font-size: 2.4rem;
}

/*** fontWeight***/
.fw-b {
    font-weight: bold;
}

.fw-n {
    font-weight: normal;
}


/*** textAlign ***/

.t-l {
    text-align: left;
}

.t-r {
    text-align: right;
}

.t-c {
    text-align: center;
}


/*** float ***/

.f-l {
    float: left;
}

.f-r {
    float: right;
}


/*** background ***/

.bg-center {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


/*** vertical-align ***/

.v-t {
    vertical-align: top;
}

.v-m {
    vertical-align: middle;
}

.v-b {
    vertical-align: text-bottom;
}

.h-full {
    height: 100%;
    overflow: hidden;
}


/* 文字省略号 */

.ellipsis {
    white-space: nowrap;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* 清浮动 */

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}